/*
TODO: in the future, make part of:  
save-as-ebook/web-extension/background.js

---------------------------------
*/ 

/* -----------------------------
Name: Heise Select
URL Regex: heise\.de\/select
-------------------------------- */
body {
  font: initial !important;
  font-family: initial !important;
  color: #101010;  /* default text almost black for better readability */
}

main {
	padding: 0 0 0 0 !important; 
}

span.initial {  /* Drop caps */
   float: left;
      font-weight:normal; 
      font-size:320%  !important;
      float:left  !important;; 
      margin-top:-0.3225em  !important;; 
      margin-bottom:-0.3245em  !important;; 
  font-stretch: normal;
}

/* remove everything except plain article */
a-analytics,
body>footer,
.topbar, .toolbar, .comment, .bottom-links, .shariff 
{
   display: none !important;
}

/* -----------------------------
Name: SQLBI 
URL Regex: sqlbi\.com\/articles
-------------------------------- */

body>header, footer, aside,
.download,
.connect, .breadcrumb  {
 display:none !important;
}

.content-wrapper, .entry-content, body {
	padding: 1px 0 0 0 !important;
	color: #111111; 
}

/* -----------------------------
Name: Wikipedia Article
URL Regex: wikipedia\.org\/wiki\/
-------------------------------- */

#mw-navigation {
display: none;
}

#footer {
display: none;
}

#mw-panel {
display: none;
}

#mw-head {
display: none;
}

.toc , .toc-mobile,
.mw-jump-link, 
.mw-editsection,
.navigation-drawer,
.header-container,
#page-actions {
display: none !important;
}
.mw-body {
    margin-left: 0px !important;
	border-style: none !important;
}
.noprint, .cnotice {
display: none !important;
}
ul {
  padding: 20px !important;
  list-style-type: square !important;
  list-style-image: none  !important;
}

/* ----------------------------------- */

